.Form {
  margin: 0 auto;
  max-width: 800px
}

.Form-fieldset {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.Form-column[data-columns='1'] {
  grid-column: span 1;
}

.Form-column[data-columns='2'] {
  grid-column: span 2;
}

.Form-column[data-columns='3'] {
  grid-column: span 3;
}

.Form-column[data-columns='4'] {
  grid-column: span 4;
}

.Form-column[data-columns='5'] {
  grid-column: span 5;
}

.Form-column[data-columns='6'] {
  grid-column: span 6;
}

.Form-column[data-columns='7'] {
  grid-column: span 7;
}

.Form-column[data-columns='8'] {
  grid-column: span 8;
}

.Form-column[data-columns='9'] {
  grid-column: span 9;
}

.Form-column[data-columns='10'] {
  grid-column: span 10;
}

.Form-Column[data-columns='11'] {
  grid-column: span 11;
}

.Form-Column[data-columns='12'] {
  grid-column: span 12;
}

.Form-fieldGroup {
  margin: 10px 5px;
}

.Form-fieldGroup label:nth-child(1) {
  display: block;
}

.Form-fieldGroup h1,
.Form-fieldGroup p {
  margin: 10px 0 0;
}

.Form-fieldGroup p {
  white-space: pre;
}

.Form-fieldGroup input[type=date],
.Form-fieldGroup input[type=password],
.Form-fieldGroup input[type=text],
.Form-fieldGroup select,
.Form-fieldGroup textarea {
  width: 100%;
}

.Form-fieldGroup textarea {
  height: 70px;
}

.Form-fieldGroup span:last-child {
  color: red;
  display: block;
}

